@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

:root {
	--dark-cyan: hsl(158, 36%, 37%);
	--cream: hsl(30, 38%, 92%);
	--very-dark-blue: hsl(212, 21%, 14%);
	--dark-grayish-blue: hsl(228, 12%, 48%);
	--white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	line-height: 1.5;
	font-size: 14px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--dark-grayish-blue);
	font-family: 'Montserrat', sans-serif;
}

img,
picture {
	display: block;
	max-width: 100%;
}

button {
	font: inherit;
}

p {
	overflow-wrap: break-word;
}

.main {
	max-width: 20rem;
	background-color: var(--cream);
	padding: 1.5rem 1rem;
	border-radius: 0.5rem;
}

/* Screen Reader heading */
.main__heading--sr {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.main__image {
	border-radius: 0.5rem;
}

.main__prices {
	display: flex;
	align-items: center;
	padding: 1rem 0;
}

.main__prices--highlight {
	color: var(--dark-cyan);
	font-size: 2rem;
	font-family: 'Fraunces', serif;
	padding-right: 1rem;
}

.main__prices--strike {
	text-decoration: line-through;
}

.article {
	background-color: var(--white);
	padding: 1.5rem;
	border-radius: 0 0 0.5rem 0.5rem;
}

.article__para {
	letter-spacing: 0.3rem;
}

.article__para--text {
	font-weight: 500;
}

.article__heading {
	font-family: 'Fraunces', serif;
	color: var(--very-dark-blue);
	font-size: 1.6rem;
	line-height: 1;
	padding: 0.8rem 0;
}

.main__button {
	background-color: var(--dark-cyan);
	border: none;
	color: var(--white);
	width: 100%;
	height: 3rem;
	border-radius: 0.5rem;
}

.main__button:hover {
	cursor: pointer;
	background-color: hsl(159, 91%, 13%);
}

.main__button svg {
	margin-right: 0.4rem;
}

/* media queries For desktop */

@media (min-width: 35rem) {
	body {
		background-color: var(--cream);
	}

	.main {
		max-width: 30rem;
		display: flex;
		border-radius: 0.5rem;
	}

	.main__image {
		height: 100%;
		object-fit: cover;
		border-radius: 0.5rem 0 0 0.5rem;
	}

	.main__child {
		flex: 1;
	}

	.article {
		border-radius: 0 0.5rem 0.5rem 0;
	}
}
